@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



.navbar{
    display: flex;
    list-style: none;
    position: relative;
    align-items: left;
    background-color: #FFD700;
    height: 4rem;
}

.item{
    display: flex;
    flex-direction:row-reverse;
    list-style: none;
    position: relative;
    align-items: left;
    font-size: x-small;
}
li{
    margin: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    position:relative;
    align-content: center;
}

/* .icon{
    margin: 0.5rem;
    padding-left: 0.6rem;
    padding-bottom: 0.5rem;
} */

.icons{
    margin: 0.5rem;
    height: 1.3rem;
    width: 1.3rem;
}

.img1{
    position: absolute;
    top: 170px;   /* Y-coordinate position */
    left: 336px;  /* X-coordinate position */
}
.img2{
    position: absolute;
    top: 247.71px;   /* Y-coordinate position */
    left: 489.87px;  /* X-coordinate position */
}
.img3{
    position: absolute;
    top: 170px;   /* Y-coordinate position */
    left: 681.03px;  /* X-coordinate position */
}
.img4{
    position: absolute;
    top: 240.72px;   /* Y-coordinate position */
    left: 855.1px;  /* X-coordinate position */
}

.content{
    font-size: 48px;
    font-style: bold;
    font-weight: 600;
    position: absolute;
    top: 241.05px;   /* Y-coordinate position */
    left: 517.85px;  /* X-coordinate position */

}

.card1{
    position: absolute;
    top: 704px;   /* Y-coordinate position */
    left: 92px;  /* X-coordinate position */
    width: 588px;
    height: 367px;
    box-shadow: #FFD700;
    border-radius: 25px;
    background: white;
    box-shadow: 0px 4px 4px 0px rgba(255, 215, 0, 0.53);
}

.list1{
    position: relative;
    left: 6vh;
    top: 8vh;
    width: 250px;
    height: 159px;
    word-wrap: break-word;
    font-size: medium;
    font-weight: 300;
}
.list2{
    position: relative;
    width: 250px;
    height: 159px;
    left: 44vh;
    top: -13.8vh;
    word-wrap: break-word;
    font-size: medium;
    font-weight: 300;
}

.card-title{
    font-size:5vh;
    position: relative;
    left:7.4vh;
    top:4vh;
}

hr{
    position: absolute;
    left: 7.4vh;
    top: 11vh;
    width: 45vh;
    background-color: #FFD700;
    
}


.card2{
    position: absolute;
    top: 708px;   /* Y-coordinate position */
    left: 759px;  /* X-coordinate position */
    width: 588px;
    height: 367px;
    box-shadow: #FFD700;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 215, 0, 0.53);
}

.card3{
    position: absolute;
    top: 1156px;   /* Y-coordinate position */
    left: 92px;  /* X-coordinate position */
    width: 588px;
    height: 367px;
    box-shadow: #FFD700;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 215, 0, 0.53);
}


.card4{
    position: absolute;
    top: 1156px;   /* Y-coordinate position */
    left: 759px;  /* X-coordinate position */
    width: 588px;
    height: 367px;
    box-shadow: #FFD700;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 215, 0, 0.53);
}

li{
    list-style:lower-roman;
}


.bar{
    background-color: #FFD700;
    width: 223.792px;
    height: 56px;
    position: absolute;
    top: 585px;   /* Y-coordinate position */
    left: 655.55px;  /* X-coordinate position */
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.headline{
    position: absolute;
    top: 14px;   /* Y-coordinate position */
    left: 53px;  /* X-coordinate position */
    z-index: 1; 
    font-size: large;
    font-weight: 500;
}

.loginbox{
    background-color: white;
    padding: 50px;
    margin: 50px;
    width: 1224.97px;
    height: 526px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    top: 5vh;   /* Y-coordinate position */
    left: 22vh;  /* X-coordinate position */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-items: center;
}

.tag{
    font-weight: 250;
    position: absolute;
    left: 50px;  /* X-coordinate position */
    top: 65px;
}

.heading{
    position: absolute;
    left: 50px;
    top:12px;
    
}



.App {
    text-align: center;
    background-color:white;
    }
    
    .form{
        display: flex;
        -ms-flex-align: baseline;
        flex-wrap: nowrap;
        flex-direction: column;
        flex-wrap: initial;
    }
    .label{
    display: block;
    font-size: medium;
    color: black;
    padding: 5px;
    }
    
    .label1{
        display: block;
        font-size: medium;
        color: black;
        padding: 5px;
        position: absolute;
        top:10vh;
        left: 10vh;
        }
    
    .input{
    font-size: larger;
    width: 67vh;
    padding: 3px;
    margin: 7px;
    border-radius: 33px;
    border: 0px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
        
    }
    .btn{
    color: white;
    background-color: #FFD700;
    border: 0px solid #000;
    font-size: larger;

    display: block;
    padding: 5px;
    margin: 10px auto;
    width: 212px;
    height: 43px;
    position: absolute;
    left:0rem;
    top: 16rem;
    }
    
    .messages{
    display: flex;
    justify-content: center;
    }
    
    .error{
    display: block;
    color: white;
    width: fit-content;
    height: 12px;
    padding: 5px;
    }
    
    .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }

form{

    position: absolute;
    top: 8rem;
    left:0.1rem;
    width:67rem;
    left: 50px; 
}

.login-alert{
    font-size: small;
    font-weight: 200;
    position: absolute;
    bottom: 4rem;
    left: 3rem;
}

.signin-alert{
    font-size: small;
    font-weight: 300;
    position: absolute;
    bottom: 4rem;
    left: 14rem;
    color: #FFD700;
    
}

::placeholder {
    color: #505050; 
    font-weight: 100px;
    font-size: small;
    align-content: center;
    justify-self: center;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    left: 1vh;
    

  }

  .btn-login{
        color: white;
        background-color: #FFD700;
        border: 0px solid #000;
        font-size: larger;
    
        display: block;
        padding: 5px;
        margin: 10px auto;
        width: 212px;
        height: 43px;
        position: absolute;
        left:0rem;
        top: 12rem;
    }

    .signin-alert1{
        font-size: small;
        font-weight: 300;
        position: absolute;
        bottom: 7rem;
        left: 7.5rem;
        color: #FFD700;
        
    }

    .login-alert1{
        font-size: small;
        font-weight: 200;
        position: absolute;
        bottom: 7rem;
        left: 3rem;
    }
  
    .fill-alert{
        font-weight: 300;
        font-size:medium;
        color: red;
    }


    /* MAIN.JSX CSS */

    
 .vertical-navbar{
    width: 22%;
    /* height: 100%; */
    height: 92vh;
    position: sticky;
    top: 0vh;
    left: 0vh;
    background-color: white;
    overflow-y: scroll;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.25);
 }

 /* Dropdown styles */

.dropdown {
    max-width: 13em;
    margin: 80px auto 0;
    position: relative;
    width: 100%;
  }
  .dropdown-btn {
    background: #1d1f24;
    font-size: 18px;
    width: 100%;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
  }
  .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
  }
  .dropdown-content {
    list-style: none;
    position: absolute;
    top: 3.2em;
    width: 100%;
    font-size: small;
  }
  .dropdown-content li {
    background: #2f3238;
    border-radius: 0.5em;
  }
  .dropdown-content li:hover {
    background: #1d1f24;
  }
  .dropdown-content li a {
    font-size: small;
    display: block;
    padding: 0.7em 0.5em;
    color: #fff;
    margin: 0.1em 0;
    text-decoration: none;
  }

.content1{
    display: flex;
    flex-direction: row;
    width: 38vh;
    height: 7vh;
    border-radius: 1;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.08);
  }

  .head{
    /* display: flexbox; */
    font-size:4vh;
    /* position: absolute; */
    left: 4rem;
    padding: 10px;
    box-shadow: #FFD700;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 215, 0, 0.53);
  }

  .subhead{
    font-size: 3rem;
    font-weight: 100;
    position: relative;
    display: grid;
  place-items: center;
  padding: 10px; 
  }

  .dropdown-container {
    font-size: large;
    font-weight: 100;
    padding: 2px;
  }

  .dropdown-header{
    font-size: 1.2em;
    font-weight: 300;
    color: rgb(67, 67, 67);
    padding: 7px;
  }

  .dropdown-options{
    font-size: large;
    font-weight: 300;
  }



.main-content{
    position:relative;
    display: grid;
    top: 2em;
    place-items: center;

}

.main-grid{
    flex-direction: row;
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
    align-items: center;
    
}


.Mcard3{
    position: absolute;
    top: 117px;
    left: 413px;
    width: 243px;
    height: 200px;
    box-shadow: #FFD700;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 215, 0, 0.53);

}

.footer {
    background-color: #FFD700;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
  }
  