@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



.navbar{
    display: flex;
    list-style: none;
    position: relative;
    align-items: left;
    background-color: #FFD700;
    height: 4rem;
}

.item{
    display: flex;
    flex-direction:row-reverse;
    list-style: none;
    position: relative;
    align-items: left;
    font-size: x-small;
}
li{
    margin: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    position:relative;
    align-content: center;
}

/* .icon{
    margin: 0.5rem;
    padding-left: 0.6rem;
    padding-bottom: 0.5rem;
} */

.icons{
    margin: 0.5rem;
    height: 3.3rem;
    width: 3.3rem;
}

.img1{
    position: absolute;
    top: 170px;   /* Y-coordinate position */
    left: 336px;  /* X-coordinate position */
}
.img2{
    position: absolute;
    top: 247.71px;   /* Y-coordinate position */
    left: 489.87px;  /* X-coordinate position */
}
.img3{
    position: absolute;
    top: 170px;   /* Y-coordinate position */
    left: 681.03px;  /* X-coordinate position */
}
.img4{
    position: absolute;
    top: 240.72px;   /* Y-coordinate position */
    left: 855.1px;  /* X-coordinate position */
}

.content{
    font-size: 48px;
    font-style: bold;
    font-weight: 600;
    position: absolute;
    top: 241.05px;   /* Y-coordinate position */
    left: 408.85px;  /* X-coordinate position */

}

.card1{
    position: absolute;
    top: 708px;   /* Y-coordinate position */
    left: 134px;  /* X-coordinate position */
    box-shadow: #FFD700;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 215, 0, 0.53);
}

.card2{
    position: absolute;
    top: 708px;   /* Y-coordinate position */
    left: 569px;  /* X-coordinate position */
    box-shadow: #FFD700;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 215, 0, 0.53);
}

.card3{
    position: absolute;
    top: 708px;   /* Y-coordinate position */
    left: 1004px;  /* X-coordinate position */
    box-shadow: #FFD700;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(255, 215, 0, 0.53);
}


.footer{
    background-color: #FFD700;
    height: 4rem;
}

.bar{
    background-color: #FFD700;
    width: 223.792px;
    height: 56px;
    position: absolute;
    top: 585px;   /* Y-coordinate position */
    left: 605.55px;  /* X-coordinate position */
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.headline{
    position: absolute;
    top: 14px;   /* Y-coordinate position */
    left: 53px;  /* X-coordinate position */
    z-index: 1; 
    font-size: large;
    font-weight: 500;
}